[Desktop Entry]
Icon=application-zip
Name=dangerously_erect_07cb2.zip
Type=Link
URL[$e]=file:$HOME/Downloads/dangerously_erect_07cb2.zip
X-KDE-LastOpenedWith=xarchiver
