[Desktop Entry]
Icon=inode-directory
Name=DANGERously ERECT
Type=Link
URL[$e]=file:$HOME/Desktop/DANGERously ERECT
X-KDE-LastOpenedWith=org.kde.dolphin
